asgiref==3.8.1
build==1.2.2.post1
check_password==0.0.2
click==8.2.1
Django==5.2.3
django-colorfield==0.14.0
django-cors-headers==4.7.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
packaging==25.0
pillow==11.2.1
pip-tools==7.4.1
PyJWT==2.9.0
pyproject_hooks==1.2.0
setuptools==80.9.0
sqlparse==0.5.3
wheel==0.45.1
